<!DOCTYPE html>
<html>
  <head>
    {% block css %}{% endblock %}
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/e08e95b776.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="background" id="particles-js"></div>
    {% block content %}{% endblock %} {% block scripts %} {% endblock %}
  </body>
</html>
