<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e08e95b776.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome - SpeedStats</title>
  </head>
  <body>
    <p>
      Thanks for reaching out. We will get back with you as soon as possible!
    </p>
  </body>
</html>
