{% extends "base.html" %} 
{% block css %}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
  type="text/css"
  rel="stylesheet"
/>
{% endblock %} 
{% block content %}
  <div class="background" id="particles-js"></div>
  <div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
  <div class="container">
  
  <header>
    <div class="company-name">
      <a href="#s1" class="header-title">SpeedStats</a>
    </div>
    <div class="main-nav">
      <a href="#s3" class="nav about">About</a>
      <a href="#s4" class="nav contact">Contact</a>
      <a href="#s5" class="nav nav-features">Features</a>
      <a href="#s2" class="nav pricing">Pricing</a>
      <a href="{{url_for('client_portal')}}" class="nav login">Client Portal</a>
      <a href="{{url_for('signup_page')}}" class="nav signup">Sign Up</a>
    </div>
  </header>

  <div id="fullPage">
    <div class="section s1">
      <div class="main-message">
        <p class="topic front-topic">Stock Research Simplified</p>
        <p class="message front-message">
          Search through technicals and fundamentals all at lightning speeds.
          Charts, SEC filings, financials, as well as other stats such as market
          cap, float, and much more are available at your fingertips.
        </p>
        <a href="#s5" class="btn view-features">View Features</a>
      </div>
    </div>

    <div class="section s5">
      <div class="main-message">
        <p class="topic">Features</p>
      </div>
    </div>

    <div class="section s2">
      <p class="topic">Pricing Plans</p>
      <div class="s04d-pricing">
        <div class="s04d-pricing-column">
          <div class="s04d-pricing-header">
            <h1>Monthly</h1>
          </div>
          <div class="s04d-pricing-amount">
            <strong
              ><span class="s04d-pricing-currency clear-span">$</span
              ><span class="clear-span card-price">29</span
              ><code>99</code></strong
            >
            <div class="s04d-pricing-frequency">Great price</div>
          </div>
          <ul class="s04d-pricing-feature">
            <li>Charting<span title="Charting" class="clear-span">✓</span></li>
            <li>
              News &amp; Press Releases<span
                title="News &amp; Press Releases"
                class="clear-span"
                >✓</span
              >
            </li>
            <li>
              Financial Info<span title="Financial Info" class="clear-span"
                >✓</span
              >
            </li>
            <li>
              Stock Statistics<span title="Stock Statistics" class="clear-span"
                >✓</span
              >
            </li>
            <li>
              SEC Filings<span title="SEC Filings" class="clear-span">✓</span>
            </li>
          </ul>
          <div class="s04d-pricing-footer">
            <a class="s04d-pricing-button" href="#">Select Plan</a>
          </div>
        </div>
        <div class="s04d-pricing-column recommended">
          <div class="s04d-pricing-header">
            <h1>Annual</h1>
          </div>
          <div class="s04d-pricing-amount">
            <strong
              ><span class="s04d-pricing-currency clear-span">$</span
              ><span class="clear-span card-price">299</span
              ><code>99</code></strong
            >
            <div class="s04d-pricing-frequency">almost $60/year in savings</div>
          </div>
          <ul class="s04d-pricing-feature">
            <li>Charting<span title="Charting" class="clear-span">✓</span></li>
            <li>
              News &amp; Press Releases<span
                title="News &amp; Press Releases"
                class="clear-span"
                >✓</span
              >
            </li>
            <li>
              Financial Info<span title="Financial Info" class="clear-span"
                >✓</span
              >
            </li>
            <li>
              Stock Statistics<span title="Stock Statistics" class="clear-span"
                >✓</span
              >
            </li>
            <li>
              SEC Filings<span title="SEC Filings" class="clear-span">✓</span>
            </li>
          </ul>
          <div class="s04d-pricing-footer">
            <a class="s04d-pricing-button select-button" href="#"
              >Select plan</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="section s3">
      <div class="main-message">
        <p class="topic">About</p>
        <p class="message about-message">
          Our mission here at SpeedStats is to provide you with the most
          accurate information as possible while being as efficient as possible.
          We know how much of a pain it can be to look through all the
          technicals and fundamentals of a stock and how much time it can take
          up. Our goal is to make this a much quicker and easier process so you
          can focus your attention in areas where it is more important.
        </p>
      </div>
    </div>

    <div class="section s4">
        <p class="topic">Contact</p>
        <form class="contact-form" action="/contact" method="POST">
          <input id="name" name="name" type="text" placeholder="NAME" required />
          <input id="email" name="email" type="email" placeholder="EMAIL" required />
          <textarea
            id="message"
            name="message"
            type="text"
            placeholder="MESSAGE"
            required
          ></textarea>
          <input id="submit" class="contact-submit" type="submit" value="SEND" />
        </form>
      </div>
    </div>
    {% endblock %} 
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    {% endblock %}
  </div>
</div>
