<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e08e95b776.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome - SpeedStats</title>
  </head>
  <body>
    <div class="background" id="particles-js"></div>
    <div class="header">
      <header>
        <div class="company-name">
          <a href="#s1" class="header-title"
          >SpeedStats</a
        >
        </div>
        <div class="main-nav">
          <a href="#" class="nav about">About</a>
          <a href="#" class="nav contact">Contact</a>
          <a href="#" class="nav nav-features">Features</a>
          <a href="#" class="nav pricing">Pricing</a>
          <a href="#" class="nav login">Client Portal</a>
          <a href="#" class="nav signup">Sign Up</a>
        </div>
      </header>

    <div id="fullPage">
      <div class="section s1">
        <div class="main-message">
          <p class="topic front-topic">Stock Research Simplified</p>
          <p class="message front-message">
            Search through technicals and fundamentals all at lightning speeds.
            Charts, SEC filings, financials, as well as other stats such as
            market cap, float, and much more are available at your fingertips.
          </p>
          <a href="#" class="btn view-features">View Features</a>
        </div>
      </div>

      <div class="section s2">
        <p class="topic">Pricing Plan</p>
        <div class="main-message card">
          <p class="type">basic</p>
          <p class="features">Features</p>
          <p class="feature"><i class="fas fa-check"></i>Charting</p>
          <p class="feature"><i class="fas fa-check"></i>News</p>
          <p class="feature"><i class="fas fa-check"></i>Press Releases</p>
          <p class="feature"><i class="fas fa-check"></i>Financial Info</p>
          <p class="feature"><i class="fas fa-check"></i>Stock Statistics</p>
          <p class="feature"><i class="fas fa-check"></i>SEC Filings</p>
          <p class="price-tag">
            $29.99<span class="basis"> /mo</span>
          </p>
          <div class="select-button">
            <a href="signup.html" class="select-plan">Select Plan</a>
          </div>
        </div>
      </div>

      <div class="section s3">
        <div class="main-message">
          <p class="topic">About</p>
          <p class="message about-message">
            Our mission here at Speed Stats is to provide you with the most
            accurate information as possible while being as efficient as
            possible. We know how much of a pain it can be to look through all
            the technicals and fundamentals of a stock and how much time it can
            take up. Our goal is to make this a much quicker and easier process
            so you can focus your attention in areas where it is more important.
          </p>
        </div>
      </div>

      <div class="section s4">
        <div class="main-message">
          <p class="topic">Contact</p>
          <div class="form-container">
            <form class="contact-form" action="/email" method="POST">
              <div class="form-field first-name">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name">
              </div>
              <div class="form-field last-name">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name">
              </div>
              <div class="form-field email">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
              </div>
              <div class="form-field message-contact">
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
              </div>
              <div class="submit">
                <button type="submit" class="submit-form">Send</button>
              </div>
            </form>
          </div>
          <div class="success-modal">
            <p class="message">
              Your message has been sent!
            </p>
          </div>
        </div>
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
