* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  color: #fff;
  background: #081229;
  height: 100%;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1e2a4a; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ec5990; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #1e2a4a; /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ec5990;
}

/* NAVBAR */
.navbar-container {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-content-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  position: sticky;
  top: 0;
  padding: 15px;
  background: #191d3a;
  max-width: 1000px;
  min-width: 775px;
  box-shadow: 0 0 5px 0 #000;
}

.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.company-name {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  letter-spacing: 3px;
}

.sub-heading-company-name {
  font-size: 55%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
}

.nav-link {
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.3s all;
  font-size: 70%;
}

.nav-link:hover {
  color: #bf1650;
}

.signup {
  margin-right: 0px;
}

.free-trial-btn,
.signup {
  padding: 8px 12px;
  background: #bf1650;
  border: 2px solid #bf1650;
  transition: 0.3s all;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.free-trial-btn:hover,
.signup:hover {
  background: transparent;
  color: #bf1650;
}

/* FRONT PAGE */
.front-message-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

h1 {
  font-weight: 500;
  font-size: 250%;
  text-align: center;
  letter-spacing: 1px;
  z-index: 2;
}

h3 {
  font-weight: 500;
  font-size: 180%;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  margin: auto;
  max-width: 650px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 10px;
}

.free-trial-front-message-btn {
  margin-top: 40px;
}

.free-trial-btn {
  padding: 20px 25px;
  border-radius: 50px;
  font-size: 80%;
  letter-spacing: 0.5;
}

.animate-scaleIn {
  animation: slideUp 1s;
}

/* ABOUT */
.why-container {
  color: #fff;
  padding: 125px 50px;
}

h2 {
  font-weight: 500;
  font-size: 220%;
  letter-spacing: 1px;
  animation: slideUp 1s;
}

.info-flex {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 1400px;
  opacity: 0%;
  animation: slideUp 1s forwards;
  animation-delay: 1s;
}

.about {
  max-width: 800px;
  text-align: center;
  margin-top: 20px;
  font-size: 75%;
  letter-spacing: 0.5px;
  animation: slideUp 1s;
}

.col {
  text-align: center;
  max-width: 340px;
  padding: 0px 70px;
  border-right: 1px solid #4f6294;
}

.col:last-of-type {
  border-right: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-tachometer-alt,
.fa-users,
.fa-balance-scale {
  color: #bf1650;
  font-size: 130%;
}

.reason {
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.description-small {
  font-size: 75%;
  margin-top: 10px;
  text-align: center;
  line-height: 25px;
  animation: slideUp 1s;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

/* PRICING */
.pricing-container {
  padding: 125px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.pricing-flex-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.card {
  border: 1px solid #516391;
  width: 270px;
  background: #081229;
  transition: 0.3s all;
  opacity: 0%;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.card:hover {
  transform: translateY(-10px);
  border: 1px solid #bf1650;
}

.main-plan {
  background: #191d3a;
  padding: 20px;
  color: #fff;
  border-bottom: 1px solid #516391;
}

.plan {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.price {
  text-align: center;
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 1px;
}

.features {
  text-align: center;
  padding: 10px 0px;
  margin: 0px 15px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.features::after {
  display: block;
  content: "";
  width: 75px;
  margin: auto;
  background: #516391;
  height: 1px;
  margin-top: 2px;
}

.feature {
  font-size: 80%;
  padding: 5px 0px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

span {
  color: #4f6294;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 10px;
}

.select-plan {
  padding: 30px 20px;
  padding-bottom: 15px;
  text-align: right;
}

.select-plan-btn {
  color: #ff7aa8;
  font-size: 70%;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.3s all;
  gap: 5px;
  text-decoration: underline;
}

.select-plan-btn:hover {
  color: #bf1650;
}

.fa-long-arrow-alt-right {
  padding-left: 5px;
}

/* READY TO CREATE AN ACCOUNT? */

.ready-container {
  background: linear-gradient(#bf1650, #ec5990);
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 200px;
}

.try-for-free-btn {
  padding: 20px 25px;
  border-radius: 50px;
  font-size: 80%;
  font-weight: 600;
  border: 2px solid #fff;
  letter-spacing: 0.5;
  color: #fff;
  transition: 0.3s all;
  opacity: 0%;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.try-for-free-btn:hover {
  background: #fff;
  color: #000;
}

/* CONTACT */

.contact-container {
  padding: 200px;
  background: #081229;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.contact-content {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.contact-message {
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.contact-left {
  width: 30%;
  min-width: 300px;
}

.contact-right {
  width: 50%;
  flex-shrink: 1;
}

.contact-form,
.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 400px;
  opacity: 0%;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.contact-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  height: 50px;
  font-size: 70%;
  padding: 15px;
  border: 1px solid #4f6294;
  background: #081229;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  width: 100%;
  letter-spacing: 0.5px;
}

::placeholder {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
}

textarea {
  height: 150px;
  padding: 15px;
  border: 1px solid #4f6294;
  letter-spacing: 0.5px;
  background: #081229;
  outline: none;
  border-radius: 5px;
  font-size: 70%;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  width: 100%;
  resize: none;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: #fff;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background: #bf1650;
  border: 2px solid #bf1650;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 70%;
  transition: 0.3s all;
  width: 100px;
  letter-spacing: 0.5px;
}

button:hover {
  background: transparent;
  color: #bf1650;
}

.questions {
  border-left: 3px solid #bf1650;
  padding-left: 10px;
}

.input-container {
  width: 100%;
}

.form-error {
  font-size: 60%;
  margin-bottom: 5px;
  color: red;
  letter-spacing: 0.5px;
}

.transparent {
  height: 16px;
}

.email-status-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}

.email-status {
  opacity: 0%;
  transition: 0.3s all;
}

.fa-eye,
.fa-eye-slash {
  position: relative;
  bottom: 110px;
  left: 460px;
  font-size: 80%;
  cursor: pointer;
}

.login-eye {
  bottom: 110px;
  left: 362px;
}

.submit-login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-password {
  color: #4f6294;
  font-size: 80%;
  text-decoration: underline;
}

/* FOOTER */

.footer-container {
  padding: 50px 50px;
  display: flex;
  align-items: flex-start;
  max-width: 1400px;
  gap: 100px;
  justify-content: space-evenly;
  margin: auto;
  border-top: 1px solid #4f6294;
}

.footer-nav-container {
  display: flex;
  gap: 100px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  font-size: 70%;
  flex-shrink: 0;
}

.social-link {
  color: #fff;
  margin-right: 20px;
}

.header-footer {
  color: #516391;
  font-size: 110%;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 10px;
}

.phone-footer,
.email-footer,
.disclosure-link,
.other-link,
.social-link {
  letter-spacing: 0.5px;
  font-size: 90%;
  text-align: left;
  color: #fff;
  transition: 0.2s all;
  font-weight: 300;
  margin-top: 10px;
}

.phone-footer:hover,
.email-footer:hover,
.disclosure-link:hover,
.other-link:hover,
.social-link:hover {
  color: #ff7aa8;
}

.fa-phone,
.fa-envelope,
.fa-instagram,
.fa-twitter {
  padding-right: 10px;
  color: #fff;
  font-size: 95%;
}

/* SIGN UP */
.signup-form {
  min-width: 500px;
}

.submit-signup-container,
.submit-login-container {
  margin-top: 15px;
}

/* AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #4f6294;
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #081229 inset;
  -webkit-box-shadow: 0 0 0px 1000px #081229 inset;
  transition: background-color 5000s ease-in-out 0s;
}
