* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  background-color: #fff;
  font-weight: 300;
  overflow-x: hidden;
}

.something {
  height: 1000px;
  width: 100px;
}