* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  background-color: #ffffff;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  height: 0.5px;
  color: #fff;
}

