.username,
.password {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 80%;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 30px;
}

.login-form {
  width: 350px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 7px;
  background-color: #ffffff3f;
}

.forgot-password {
  font-size: 60%;
  color: #202020;
}

button[type="submit"] {
  margin-top: 25px;
  background-color: #4fff5d;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  transition: 0.2s all;
}

button[type="submit"]:hover {
  background-color: #41d14d;
}

input[type="password"],
input[type="text"] {
  outline: none;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: #00000070;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 80%;
  color: #5bd365;
  letter-spacing: 1px;
}
