/*
   COLORS 
Blue: #408ec6
Maroon: #7a2048
Indigo: #1e2761
*/

.app {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(-45deg, #7a20487a, #1e27617a, #408ec685) ,url('/src/components/assets/mains.jpg');
}

/* HEADER */
a {
  text-decoration: none;
}

.header-container {
  background-color: #000000a1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin: auto;
  padding: 0px 20px;
  box-shadow: 0px 3px 8px #000;
}

h1 {
  font-weight: 200;
  color: #c2c2c2;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  padding-left: 10px;
  cursor: pointer;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 200%;
  text-align: center;
  padding: 30px;
  color: #c2c2c2;
  font-weight: 300;
}

h2:after {
  margin: auto;
  margin-top: 20px;
  content: '';
  display: block;
  height: 1px;
  background-color: #7a2048;
  width: 200px;
}

h3 {
  font-size: 175%;
  font-weight: 500;
  color: #c2c2c2;
  text-align: center;
  margin-top: 30px;
  display: none;
}

h3:after {
  margin: auto;
  content: '';
  display: block;
  height: 1px;
  background-color: #7a2048;
  width: 80%;
}

/* MAIN NAV */

.main-nav {
 display: flex;
}

.main-nav li {
  display: flex;
  text-transform: capitalize;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  list-style: none;
}

.main-nav-item {
  color: #c2c2c2;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
}

.main-nav-item:after {
  height: 1.5px;
  content: "";
  display: block;
  margin: auto;
}

.main-nav-item:hover:after{
  -webkit-animation: Expand 0.2s linear;
          animation: Expand 0.2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* RESPONSIVE NAV */

.burger {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
  justify-content: space-around;
  height: 30px;
}

span {
  width: 30px;
  height: 2px;
  background-color: #c2c2c2;
}

/* FIXED HEADER */
.fixed {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  background-color: #000000ee;
}


.holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 100%;
  max-width: 1200px;
  margin: auto;
}

/* FRONT PAGE SHOW ME BUTTON */
.show-me {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 300px;
}

.show-me-button {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color:  #408ec6;
  position: relative;
  top: 200px;
  animation: Bounce 2s ease-in-out infinite;
  transition: all 0.2s;
  cursor: pointer;
}

.show-me-button:hover {
  animation: none;
  background-color: #1273b8;
}

/* NASA NEWS */
.news-container {
  background-color: #a3a3a3;
}

.news-header {
  color: #383838;
}

.article-container {
  display: flex;
  columns: 3;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
  margin: auto;
  padding-bottom: 50px;
  justify-content: space-evenly;
  max-width: 1720px;
}

.card {
  padding: 10px;
  width: 300px;
  margin: 20px 10px;
  background-color: #f3f3f3;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 3px 7px #000;
}

.card:hover {
  transform: scale(1.05);
}

.article-pic {
  height: 225px;
  width: 275px;
  display: block;
  margin: auto;
}

.title {
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin-top: 5px;
}

.title:after {
  display: block;
  height: 1px;
  width: 200px;
  background-color: #1e2761;
  margin: 10px auto;
  content: '';
}

.summary {
  text-align: center;
  color: #000;
  font-weight: 300;
}

/* NASA APOD */
.section-nasa-pic-container {
  background-color: #2b2b2b;
  padding-bottom: 20px;
}

.nasa-pic-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.nasa-pic {
  display: block;
  margin: auto;
  height: 800px;
  width: 90%;
  box-shadow: 0px 5px 10px #000;
}

.button-container {
  margin-top: 40px;
}

.view-info {
  background-color: #7a2048;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #000;
  transition: all 0.2s;
  cursor: pointer;
}

.view-info-button:hover {
  background-color: #621a3a;
}

.nasa-desc {
  padding: 15px 30px;
  color: #c2c2c2;
}


/* ANIMATIONS */
@keyframes Bounce{
  0%, 100% {
    top: 200px;
    box-shadow: 0px 5px 10px #000000;
  }
  50% {
    top: 180px;
    box-shadow: none;
  }
}

@keyframes Expand {
  0% {
    width: 0%;
    background-color: #408ec6;
  }
  25% {
    width: 25%;
    background-color: #408ec6;
  }
  50% {
    width: 50%;
    background-color: #408ec6;
  }
  75% {
    width: 75%;
    background-color: #408ec6;
  }
  100% {
    width: 100%;
    background-color: #408ec6;
  }
}

@keyframes angle1 {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(45deg) translateY(11px)
  }
}

@keyframes angle2 {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-45deg) translateY(-11px)
  }
}

@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header-container {
    background-color: transparent;
    height: 63px;
  }
  header { 
    flex-direction: column; 
    align-items: flex-start;
    padding: 0px;
    background-color: #000000a1;
  }
  h1 { 
    padding: 0px 10px;
    font-size: 250%;
  }
  .holder {
    flex-direction: column;
    align-items: flex-start;
  }
  .burger {
    display: flex;
    flex-direction: column;
  }
  .main-nav {
    flex-direction: column;
    display: none;
  }
  .main-nav.active {
    display: flex;
  }
  .main-nav-item {
    margin: 0px;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
  }
  .main-nav li {
    justify-content: center;
  }
  .main-nav li:hover { background-color: #408ec6; }
  .main-nav-container {
    width: 100%;
  }
  .main-nav-item:after {
    display: none;
  }
  .nasa-pic {
    width: 90%;
    height: 500px;
  }
  .dissapear {
    display: none;
  }
  .active-move1 {
    animation: angle1 0.2s linear;
    animation-fill-mode: forwards;
  }
  .active-move2 {
    animation: angle2 0.2s linear;
    animation-fill-mode: forwards;
  }
}

