.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000c5;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 80%;
  padding: 10px 20px;
  border-radius: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #ffffffd0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 1px 4px 4px #161616;
}

.buttons a:hover {
  background-color: #fff;
}

.arrow-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  -webkit-animation: bounce 3s ease-in-out infinite;
          animation: bounce 3s ease-in-out infinite;
}

.line1 {
  height: 2px;
  width: 20px;
  background-color: #fff;
  transform: rotate(55deg);
  margin-right: -4.5px;
}

.line2 {
  height: 2px;
  width: 20px;
  background-color: #fff;
  transform: rotate(-55deg);
  margin-left: -4.5px;
}

.project-header {
  background-color: #161616;
  background-position: center;
  background-size: cover;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #ffffffd0;
  border-radius: 7px;
  margin: 20px;
  padding: 5px;
  max-width: 1000px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  display: block;
  margin: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title {
  font-size: 25px;
  color:  #555;
  font-weight: 400;
  padding-top: 5px;
}

.title::after {
  width: 100px;
  display: block;
  height: 1px;
  background-color: #00b300;
  content: "";
  margin: 20px auto 0px auto;
}

.desc {
  font-size: 20px;
  color:  #555;
  font-weight: 400;
  padding: 0px 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container a {
  color: #fff;
  font-weight: 400;
  margin: 0px 20px;
  text-decoration: none;
  background-color: #00b300;
  height: 40px;
  width: 90px;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  line-height: 40px;
  border: 2px solid#00b300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 80%;
}

.button-container a:hover {
  border: 2px solid #008f00;
  background-color: #008f00;
}

.button-container a:last-child {
  background-color: transparent;
  color: #00b300;
  border: 2px solid #00b300;
  font-weight: 400;
}

.button-container a:last-child:hover {
  background-color: #008f00;
  border: 2px solid #008f00;
  color: #fff;
}

.heading {
  padding-top: 20px;
  text-align: center;
}

.info {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
}

.info-text{
  color: #fff;
  font-weight: 300;
  font-size: 130%;
  word-spacing: 1px;
  text-align: left;
  line-height: 1.5em;
}

@-webkit-keyframes FadeIn {
  0% {
    border: 1px solid transparent;
    color: transparent;
  }
  10% {
    border: 1px solid #ff00ea15;
    color: #ffffff1a;
  }
  20% {
    border: 1px solid #ff00ea2d;
    color: #ffffff31;
  }
  30% {
    border: 1px solid #ff00ea42;
    color: #ffffff42;
  }
  40% {
    border: 1px solid #ff00ea60;
    color: #ffffff6b;
  }
  50% {
    border: 1px solid #ff00ea7a;
    color: #ffffff7c;
  }
  60% {
    border: 1px solid #ff00ea91;
    color: #ffffff8f;
  }
  70% {
    border: 1px solid #ff00ea9f;
    color: #ffffffa8;
  }
  80% {
    border: 1px solid #ff00eac0;
    color: #ffffffc2;
  }
  90% {
    border: 1px solid #ff00eae8;
    color: #ffffffe8;
  }
  100% {
    border: 1px solid #ff00ea;
    color: #fff;
  }
}

@keyframes FadeIn {
  0% {
    border: 1px solid transparent;
    color: transparent;
  }
  10% {
    border: 1px solid #ff00ea15;
    color: #ffffff1a;
  }
  20% {
    border: 1px solid #ff00ea2d;
    color: #ffffff31;
  }
  30% {
    border: 1px solid #ff00ea42;
    color: #ffffff42;
  }
  40% {
    border: 1px solid #ff00ea60;
    color: #ffffff6b;
  }
  50% {
    border: 1px solid #ff00ea7a;
    color: #ffffff7c;
  }
  60% {
    border: 1px solid #ff00ea91;
    color: #ffffff8f;
  }
  70% {
    border: 1px solid #ff00ea9f;
    color: #ffffffa8;
  }
  80% {
    border: 1px solid #ff00eac0;
    color: #ffffffc2;
  }
  90% {
    border: 1px solid #ff00eae8;
    color: #ffffffe8;
  }
  100% {
    border: 1px solid #ff00ea;
    color: #fff;
  }
}

@-webkit-keyframes bounce {
  0% {
    top: 195px;
  }
  15% {
    top: 190px;
  }
  30% {
    top: 195px;
  }
  45% {
    top: 190px;
  }
  60% {
    top: 195px;
  }
  75% {
    top: 150px;
  }
  100% {
    top: 195px;
  }
}

@keyframes bounce {
  0% {
    top: 195px;
  }
  15% {
    top: 190px;
  }
  30% {
    top: 195px;
  }
  45% {
    top: 190px;
  }
  60% {
    top: 195px;
  }
  75% {
    top: 160px;
  }
  100% {
    top: 195px;
  }
}

@media only screen and (max-width: 670px) {
  .front-page-container {
    width: 100%;
    padding-top: 50px;
  }
  h1 {
    font-size: 300%;
    width: 350px;
    display: block;
    margin: auto;
  }
  h1::after { 
    width: 300px;
  }
  .content-container {
    width: 375px;
  }
  img {
    height: 265px;
    width: 300px;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
  }
  .headshot { 
    height: 200px; 
    width: 200px; 
  }
  .card {
    margin: 0px !important;
    flex-direction: column !important;
    width: 300px !important;
  }
  .button-container a { 
    margin-bottom: 20px !important;
    height: 35px;
    width: 70px;
    line-height: 35px;
    font-size: 70%;
  }
  .buttons a {
    font-size: 60%;
  }
  .buttons { margin-top: 20px; }
  .title {
    font-size: 18px;
    padding-top: 10px;
  }
  .desc {
    font-size: 16px;
    color:  #555;
    font-weight: 400;
    padding: 10px 5px;
  }
  .button-container { margin-top: 25px !important; }
  .info { padding: 0px; }
  .info-text{
    color: #fff;
    font-weight: 300;
    font-size: 110%;
    word-spacing: 1px;
    text-align: left;
    line-height: 1.5em;
  }
}

