/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
}

.front-page-container {
  background-image: url('./Components/Assets/bg-projects.jpg') ,linear-gradient(#00000018, #000000ef);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

.headshot {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.headshot:hover {
  transform: scale(1.1) rotate(5deg);
}

h1 {
  font-size: 400%;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1::after {
  width: 500px;
  display: block;
  height: 1px;
  background-color: #00c3ff;
  content: "";
  margin: auto;
  margin-top: 30px;
}


h2 {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
}

h2::after {
  width: 100px;
  display: block;
  height: 2px;
  background-color: #00c3ff;
  content: "";
  margin: 20px auto 0px auto;
}

p {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.project-header {
  padding: 20px;
}

.about-me-container {
  display: flex;
  align-items: center;
  padding: 50px 100px;
}

.about-container {
  background-image: linear-gradient(#000000c5, #000000c5), url(./Components/Assets/about-me.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
  .projects-container { flex-direction: column; }
  .outer-card-space { padding: 30px 0px; }
  .about-me-container { padding: 50px 20px; }
}



/* IPHONE X */
@media only screen and (max-width: 670px) {
  .front-page-container {
    width: 100%;
  }
  h1 {
    font-size: 300%;
    width: 350px;
    display: block;
    margin: auto;
  }
  h1::after { 
    width: 300px;
  }
  .content-container {
    width: 375px;
  }
  img {
    height: 265px !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
  }
  .headshot { border-radius: 50% !important; }
  .card {
    margin: 0px !important;
    flex-direction: column !important;
    width: 300px !important;
  }
  .button-container a { margin-bottom: 20px !important; }
  .front {
    height: 265px !important;
  }
  .desc { margin-top: 20px !important; }
  .button-container { margin-top: 25px !important; }
}





