.header-container {
  background-image: url(/src/components/assets/bg.jpg);
  height : 100vh;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-blend-mode: multiply;
  transition: all 0.2s;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 10px;
  margin: auto;
  width: 100%;
  z-index: 9;
  transition: 0.5s ease;
}

.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 11;
}

.filler {
  height: 2px;
  background-color: #000;
}

.front-end-dev-h2 {
  opacity: 0;
  -webkit-animation: show 1s ease;
          animation: show 1s ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.front-end-dev {
  position: absolute;
  top: 45px;
  left: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.view-projects-button {
  padding: 20px 15px;
  background-color: #00000086;
  color: #fff;
  text-decoration: none;
  font-size: 60%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  -webkit-animation: showButtons 1s ease;
          animation: showButtons 1s ease;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

.view-projects-button:last-child {
  padding: 20px 15px;
  background-color: #ffffff86;
  color: #000;
  text-decoration: none;
  font-size: 60%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  -webkit-animation: showButtons 1s ease;
          animation: showButtons 1s ease;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.view-projects-button:hover {
  background-color: #000000d7;
  color: #fff;
}

.view-projects-button:last-child:hover {
  background-color: #fff;
  color: #000;
}

.main-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: -2px 0px 5px #272727;
  z-index: 10;
}

.slide-in-animation {
  -webkit-animation: slideIn 0.1s ease-in;
          animation: slideIn 0.1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.slide-out-animation {
  -webkit-animation: slideOut 0.1s ease-in;
          animation: slideOut 0.1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-nav ul {
  padding-top: 75px;
  list-style: none;
}

.main-nav li {
  opacity: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 25px;
  border-bottom: 1px solid #b6b6b6;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.contact,
.about {
  color: #000;
  text-decoration: none;
  font-size: 70%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-slide-in {
  -webkit-animation: buttonSlide 0.5s ease;
          animation: buttonSlide 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-nav li:hover {
  background-color: #b6b6b6;
}

.main-nav a {
  color: #000;
  text-decoration: none;
  font-size: 70%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.burger {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-animation: show 1s ease;
          animation: show 1s ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

.line {
  width: 18px;
  height: 2px;
  background-color: #000;
  margin: 2px 0px;
}

.line2 {
  transition: all 0.3s;
}

.hide {
  -webkit-animation: hide 0.3s ease;
          animation: hide 0.3s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show {
  -webkit-animation: show 0.3s ease;
          animation: show 0.3s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


/* ANIMATIONS */

/* MAIN-NAVIGATION ANIMATION */
@-webkit-keyframes slideIn {
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}
@keyframes slideIn {
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}

@-webkit-keyframes slideOut {
  from {
    width: 300px;
  }
  to {
    width: 0px;
  }
}

@keyframes slideOut {
  from {
    width: 300px;
  }
  to {
    width: 0px;
  }
}

/* BUTTONS AND HEADING */
@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes buttonSlide {
  from {
    transform: translateX(300px)
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes buttonSlide {
  from {
    transform: translateX(300px)
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* BURGER LINE ANIMATIONS */

/* LINE 1 ANIMATION */
@-webkit-keyframes line1in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translateY(3.5px) translateX(5px);
  }
}
@keyframes line1in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translateY(3.5px) translateX(5px);
  }
}

@-webkit-keyframes line1out {
  from {
    transform: rotate(45deg) translateY(3.5px) translateX(5px);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes line1out {
  from {
    transform: rotate(45deg) translateY(3.5px) translateX(5px);
  }
  to {
    transform: rotate(0deg);
  }
}

/* LINE 3 ANIMATION */
@-webkit-keyframes line3in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translateY(-3.5px) translateX(5px);
  }
}
@keyframes line3in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translateY(-3.5px) translateX(5px);
  }
}

@-webkit-keyframes line3out {
  from {
    transform: rotate(-45deg) translateY(-3.5px) translateX(5px);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes line3out {
  from {
    transform: rotate(-45deg) translateY(-3.5px) translateX(5px);
  }
  to {
    transform: rotate(0deg);
  }
}

/* MAIN BUTTONS */
@-webkit-keyframes showButtons {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 10px;
    opacity: 1;
  }
}
@keyframes showButtons {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 10px;
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  /* */
}
